.tabBarContainer {
    background-color: #fff;
    align-items: center;
    justify-content: center;
    align-self: center;
    position: absolute;
    bottom: 10px;
    flex-direction: row;
    // width: 0px;
}